h1{
    color:red;
}

@media (max-width:600px) { /*se inferiore a 600px aggiungerà l'attributo*/
    h1{
        color:rgb(20, 187, 20);
    }
}

img{
    width:100%;
}

@media screen and (max-width:800px) { /*se superiore a 800px toglierà l'attributo*/
    img{
        width:49%;
    }

}