* {
    margin: 0;
    padding: 0;
    font-family: 'Futura Std', sans-serif;
}

h1{
    display:flex;
    align-items: center;
    transform: rotate(270deg);
    z-index: 1;
    font-size: 6vw;
    color: #FDF7E9;
}

/* HEADER */

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background-color: #B31937;
    top: 0;
    left: 0;
    z-index: 2;
}

.header_logo{
    height: 6vh;
    margin-left: 2vw;
    align-items: center;
}

.flex_logo{
    display:flex;
    align-items: center;
    /* margin-bottom: 1.3vh; */
}

.h3_header{
    flex-wrap: wrap;
    align-content: center;
    color: #FFFFFF;
    margin-right: 3vw;
    /* margin-bottom: 1.3vh; */
    font-size: 1.8vw;
    font-weight: 500;
}

.flex_header{
    display:flex;
    justify-content: flex-end;
}

a:hover{
    text-decoration: underline;
}

/* BODY */

body{
    background-color: #FDF7E9;
}

/* MAIN */

.block_main{
    height: 100vh;
    width: 100vw;
    display: flex;
    z-index: 2;
}

.left_text_main{
    display:flex;
    align-items: center;
    /* font-size: 2.63vw;
    color: #FDF7E9; */
    background-color: #E53144;
    z-index: 1;
}

.div_main{
  display:flex;
  height: 31.24vw;
  width: 31.24vw;
  margin-top: 14vh;
  margin-left:2.5vw;
}

.img_main{
    display: flex;
    width: 31.24vw;
    height: auto;
    border: 1.5vw solid #B31937;
}

.MISERVESPAZIO{
    display: flex;
    flex-direction: column;
    margin-left: 4.5vw;
    white-space: nowrap;
}

.h2_main{
    font-size: 3.1vw;
    font-weight: 600;
}

.p_main{
    margin-top: 3.3vw;
    font-size: 1.5vw;
    font-weight: 50;
}

.div_for_quad{
    display: flex;
    /* margin-right: 3.51vw; */
    margin-top: 14vh;
    /* padding-right: 26.25vw; */
    height:31.2vw;
}

.orange_quad_main{
    display: flex;
    width: 7.81vw;
    height: 7.81vw; 
    margin-top: 23.4vw;
    margin-left: 4.5vw;
    background:#ED7D62;
}

.yellow_quad_main{
    display: flex;
    width: 3.9vw;
    height: 3.9vw; 
    margin-top: 27.35vw;
    margin-left: 9vw;
    background:#F8B300;
}

.light_quad_main{
    display: flex;
    width: 1.95vw;
    height: 1.95vw; 
    margin-top: 29.28vw;
    margin-left: 10vw;
    background:#FBD281;
}

/* .div_for_circle{
    display: flex;
    width:100vw;
    height:100vw;
}

.half_circle{
    display: flex;
    float: left;
    width: 7.81vw;
    height: 7.81vw;
    clip-path: circle(50% at 0%);
    background: #F8B300;
    transform: rotate(270deg);
    margin-left:50vw;
    margin-right:100vw;
} */

/* MAIN 2 */

.block_main_2{
    display:flex;
    width: 100vw;
    height: 74.03vh;
    background-color: #FBD281;
}

.h2_main_2{
    color: #E53144;
    font-size: 6vw;
    font-weight: 700;
    margin-left: 2vw;
    padding-top: 1.5vh;
}

.div_for_quad_2{
    display: flex;
    /* margin-right: 3.51vw; */
    margin-top: 14vh;
    margin-left:8.12vw;
    /* padding-right: 26.25vw; */
}

.yellow_quad_main_2{
    display: flex;
    width: 3.9vw;
    height: 3.9vw; 
    /* margin-top: 27.35vw; */
    /* margin-left: 9vw; */
    background:#F8B300;
}

.orange_quad_main_2{
    display: flex;
    width: 7.81vw;
    height: 7.81vw; 
    /* margin-top: 23.4vw; */
    margin-left: 4.5vw;
    background:#ED7D62;
}


.red_quad_main_2{
    display: flex;
    flex-direction: column;
    width: 28vw;
    height: 28vw; 
    /* margin-top: 23.4vw; */
    margin-left: 6vw;
    background:#E53144;
}

.p_main_2{
    margin: 3vw;
    font-size: 0.7rem;
    font-size: 1.5vw;
    font-weight: 50;
    color: #FFFFFF;
}

.red_quad_main_2 a {
    font-size:1.5vw;
    margin:3vw;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 100;
}

.red_quad_main_2 a:hover{
    text-decoration: underline;
}

/* MAIN 3 */

.block_main_3{
    display:flex;
    width: 100vw;
    height: 74.03vh;
    background-color: #FDF7E9;
}

.h2_main_3{
    color: #000000;
    font-size: 6vw;
    font-weight: 700;
    margin-left: 2vw;
    padding-top: 1.5vh;
}